body {
    background-color: grey;
    font-weight: 400;
    font-size: 15px;
    color: #1d3c41;
}

#container {
    position: relative;
}

#wrapper {
    min-height: 560px;		
    width: 820px;	
    margin:0 auto;
}

#form {
    position: absolute;
    top: 50px;
    left:23%;
    width: 500px;
    background-color: white;
    padding:20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


#wrapper input[type="text"],#wrapper input[type="submit"], #wrapper input[type="button"] {
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#wrapper input[type="text"] {
    width: 550px;
    margin:4px 0px 10px 0px;
    padding: 10px 5px 10px 15px;	
    border: 1px solid rgb(178, 178, 178);
}                

#wrapper input[type="text"]:active,
#wrapper input[type="text"]:focus {
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);	
    -webkit-box-shadow: 4px 4px 4px #000;
    -moz-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000;
}


#wrapper span.button input {
    height:35px;
    width:100px;
    cursor: pointer;	
    background-color: #BEB087;
    padding: 8px 10px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #000;
    font-size: 14px;
    margin-top:10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);	
    border: none;       

}

#input_text {
    width:300px;
}

#progress_bar {
    text-align:center;
    
}

#script_status {
    display:none;
}

#input_submit {
    text-align: center;
}